
  <%= search_form_for @search, url: root_path, :html => {:class => "form-inline", :role => "form"} do |f| %>
    <%= f.label :title_cont %>
    <%= f.text_field :title_cont, {:class => 'search-field form-control'} %>

    <%= f.label :author_cont %>
    <%= f.text_field :author_cont, {:class => 'search-field form-control'} %>

    <%= f.submit :class => 'btn btn-default' %>
    <%= f.submit "Clear", :name => nil, :id => :q_reset, :class => "btn btn-default" %>
  <% end %>
  <h2 class="sub-header">Job Listings</h2>
  <div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
    <th><%= sort_link(@search, :title, 'Title') %></th>

    <th><%= sort_link(@search, :author, 'Department') %></th>
    <th><%= sort_link(@search, :published_at, 'Posting Date') %></th>
    </thead>
    <tbody>
    <% unless @jobs.empty? %>
    <% @jobs.each do |job| %>
      <tr>
        <td><% if job.published_at >= 2.day.ago %><span class="badge badge-danger">new</span> <% end %>
          <%= link_to job.title, root_path %><br>
          <%= truncate(strip_tags(job.content), length: 200, separator: ' ') %>
        </td>

        <td><%= job.author %></td>
        <td><%= l job.published_at %></td>
      </tr>
    <% end %>
    <% end %>
    </tbody>
  </table>
</div>