
<div class="page-header">
<div class="pull-right"><%= will_paginate @jobs, renderer: BootstrapPagination::Rails %></div>
<h1>Job Listings</h1>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <%= render 'jobs/search' %>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
    <th class="col-md-7"><%= sort_link(@search, :title, 'Title') %></th>
    <th class="col-md-3"><%= sort_link(@search, :author, 'Department') %></th>
    <th class="col-md-2"><%= sort_link(@search, :published_at, 'Posting Date') %></th>
    </thead>
    <tbody>
    <% unless @jobs.empty? %>
      <% @jobs.each do |job| %>
        <tr>
          <td>

            <% if job.published_at >= 2.days.ago %>
              <span class="badge badge-danger">new</span>
            <% end %>
            <%= link_to job.title, job_path(job), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
            <br>
            <%= truncate(strip_tags(job.content), length: 200, separator: ' ') %>
            <br>
            <small>
              <%= link_to job.url, :target => '_blank', :title => 'View Original', :class => 'text-muted' do %>
                <%= job.url %> <span class="glyphicon glyphicon-new-window"></span>
              <% end %>
            </small>
          </td>

          <td><%= job.author %></td>
          <td><%= l job.published_at %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <div class="pull-right"><%= will_paginate @jobs, renderer: BootstrapPagination::Rails %></div>
</div>


<div id="modal-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>



