<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>emeade demo</title>
  <link rel="stylesheet" href="http://www.osu.edu/assets/fonts/webfonts.css">

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<header class="header">
  <div class="container">
    <ul class="nav nav-pills pull-right">
      <li class="<%= current_path(root_path) %>"><%= link_to "Home", root_path %></li>
      <li class="<%= current_path(static_pages_about_path) %>"><%= link_to "About", static_pages_about_path %></li>
      <li class="<%= current_path(static_pages_contact_path) %>"><%= link_to "Contact", static_pages_contact_path %></li>
    </ul>
    <%= link_to image_tag('osu-web-header-horiz-rev.png', :alt => 'The Ohio State University'), root_path, :class => 'brand' %>
  </div>
</header>


<div class="container">

  <%= yield %>

</div>
<!-- /.container -->


</body>
</html>








